/* ===================================================
STYLES FOR ROOT ELEMENTs
=====================================================*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  color: var(--c-text-color);
  font-family: var(--f-text-regular);
  font-size: 18px;
  background-image: url("../images/img-orange-fall.png");
  background-repeat: no-repeat;

  /* background-attachment: fixed; */
}

p {
  margin: 0;
  line-height: 1.4;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  position: relative;
  background-color: var(--c-bg-color);
  box-sizing: border-box;
}

/* SCOPE CLASSES */

.-link {
  margin-top: 16px;
  color: var(--c-text-color);
  text-decoration: none;
}

.-link:hover {
  color: var(--c-amber-color);
}

.-nav-item {
  transition: opacity 280ms ease-in-out;
  padding: 0 4px;
  cursor: default;
}

.-nav-item:hover {
  color: var(--c-amber-color);
}

.-nav-item + .-nav-item {
  margin-left: 16px;
}

.-highlight {
  color: var(--c-amber-color);
}

.-highlight-light {
  color: yellow;
}

.o-greeting {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.o-greeting__hand {
  transition: all 300ms ease-in-out;
  display: inline-block;
  position: absolute;
  height: 120px;
  right: 108px;
  z-index: 200;
}

.o-greeting__hand img {
  height: 100%;
  width: auto;
  display: block;
}

.o-greeting__hand:hover {
  transform: scale(1.2) rotate(15deg) ;
  transform-origin: center center;
}

.o-greeting--canvas {
  position: relative;
  top: -600px;
  left: -25%;
  right: 0;
  z-index: 100;
  width: 150%;
}

.-pill {
  position: relative;
  display: inline-block;
  margin: 0 auto 32px;
  border: 1px solid rgba(0, 172, 46, 0.2);
  background: linear-gradient(180deg,rgba(0, 172, 46, 0.2) 0%, rgba(0, 250, 83, 0.05) 100%);
  box-shadow: 0 4px 30px rgba(0, 172, 46, 0.1);
  color: rgb(2, 80, 23);
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 25px;
}

.-pill::after {
  animation: pulse 3s infinite;
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--c-succes-color);
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 172, 46, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(0, 250, 83, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.-pill:hover svg {
  stroke: var(--c-amber-color);
}


.-bold {
  font-weight: 600;
}

.-uppercase {
  text-transform: uppercase;
}

.-centered {
  text-align: center;
}

.-small {
  font-size: var(--fs-s-m);
}

.-highlight-light {
  color: yellow;
}

.-veil {
  opacity: 0.6;
}

.-about-gif {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 16px auto;
}

.-o-about {
  background-color: var(--c-pearl);
  padding: var(--fs-xl-xl) 24px !important;
}

.-serif-font {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 24px;
  letter-spacing: -3px;
  font-family: "Instrument Serif", serif;
}

.-sparks {
  position: absolute;
  top: 0;
  right: 28px;
  width: 48px;
  height: auto;
  margin-top: -16px;
  opacity: 0.8;
}

/*SIZE*/

.-fs-l-s {
  font-size: var(--fs-l-s);
  line-height: 1;
}

.-fs-m {
  font-size: var(--fs-l);
  line-height: 1;
}

.-fs-m-l {
  font-size: var(--fs-m-l);
}

.-medium {
  font-size: 20px;
}

@media (min-width: 820px) {
  .-sparks {
    right: 270px;
  }
}

@media (min-width: 1020px) {

  body {
    background-position: center top;
  }
  
  .-fs-m {
    font-size: var(--fs-xl-s);
  }

  .-serif-font {
    font-size: 64px;
  }

  .-o-about {
    padding: 180px 0 !important;
  }

  .-sparks {
    right: 0;
  }
}


@media (min-width: 1420px) {
  .-fs-m {
    font-size: var(--fs-xl-s);
  }  

  .-sparks {
    right: 40px;
  }
}

@media (min-width: 1920px) {
  .-fs-m {
    font-size: var(--fs-xl-xl);
  }  

  .-sparks {
    right: 120px;
  }
}