/* ===================================================
FONTS AND VARIABLES
=====================================================*/

@font-face {
  font-family: 'Inter';
  src: 
         url('../fonts/inter/Inter.otf?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter.woff') format('woff'),
         url('../fonts/inter/Inter.woff2') format('woff2'),
         url('../fonts/inter/Inter.ttf') format('truetype'),
         url('../fonts/inter/Inter.svg#icomoonregular') format('svg');
}

@font-face {
  font-family: 'Inter-Italic';
  src: 
         url('../fonts/inter/Inter-Italic.otf?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter/Inter-Italic.woff') format('woff'),
         url('../fonts/inter/Inter-Italic.woff2') format('woff2'),
         url('../fonts/inter/Inter-Italic.ttf') format('truetype'),
         url('../fonts/inter/Inter-Italic.svg#icomoonregular') format('svg');
}


:root {
  /*FONTS*/
  --f-font-special:      Inter;
  --f-text-regular:      Inter;
  --f-text-bold:         Archivo-Bold;

  
  /*COLORS*/
  --c-bg-color:           #fff;
  --c-nuclear-color:      #fff;
  --c-pearl:              #F6F4F1;
  --c-text-color:         #312A28;
  --c-dark-color:         #312A28;
  --c-accent-text-color:  #338890;
  --c-amber-color:        #f8620e;
  --c-succes-color:       #4BB543;
  --c-error-color:        #e9323a;
  

  /*SIZEZ*/

  --fs-s-m:           14px;
  --fs-s-l:           16px;
  --fs-m-s:           20px;
  --fs-m:             24px;
  --fs-m-l:           32px;
  --fs-l-s:           40px;
  --fs-l:             48px;
  --fs-l-l:           56px;
  --fs-xl-s:          64px;
  --fs-xl-l:          72px;
  --fs-xl-xl:         80px;
  --fs-xxl-s:         88px;
  --fs-xxl-m:         120px;
  --fs-xxl-xl:        160px; 
}

@keyframes itsCopied {
	from {
	  top: 80px;
    opacity: 1;
	}
	to {
		top: -100px;
    opacity: 0;
	}
}

@keyframes FadeIn {
	from {
    opacity: 0;
	}

  30% {
    opacity: 0.1;
	}

	to {
    opacity: 1;
	}
}


@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}

@keyframes modalColor {
	0% {
	  background-color:  var(--c-amber-color);
	}
  80% {
	  background-color:  var(--c-amber-color);
	}
	100% {
	  background-color:  var(--c-bg-color);
	}
}
  

