.o-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 24px;
}

.o-layout--row {
    flex-direction: column;
}


.o-layout + .o-layout {
    margin-top: 80px;
}

.o-layout__cell {
    flex-direction: column;
    font-size: var(--fs-m-s);
}


@media screen and (min-width: 1020px) {
    .o-layout {
        margin-top: 72px;
        padding: 0;
    }

    .o-layout + .o-layout {
        margin-top: 180px;
    }
    
    .o-layout__row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .o-layout--row {
       flex-direction: row;
       align-items: center;
    }
    
    .o-layout__cell {
        display: flex;
        flex: 1;
        font-size: var(--fs-m);
    }

    .o-layout__cell--double {
        display: flex;
        flex: 3.5;
        font-size: var(--fs-m);
      }

    .o-layout__cell--columns {
        display: block;
        column-count: 2;
        column-gap: 24px;
        padding: 72px;
    }
}