.o-main {
  position: relative;
  margin: 0 auto;
}

.o-main__wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 8px;
}

@media (min-width: 820px) {
  .o-main__wrapper {
    padding: 0 16px;
  }
}

@media (min-width: 1080px) {
   .o-main__wrapper {
    max-width: 1280px;
  }
}

@media (min-width: 1540px) {
  .o-main__wrapper {
    max-width: 1440px;
  }
}


