.o-portfolio {
    margin: 72px 0 132px;
    padding: 0 24px;
}

.o-portfolio p {
    font-size: var(--fs-m-s);
}

.o-portfolio p + p {
    margin-top: var(--fs-m-s);
}

.o-portfolio__list {
    margin: 72px 0 32px;
    padding: 0;
}

.o-portfolio__item {
    position: relative;
    display: block;
    border-radius: 20px;
    background-color: var(--c-pearl);
    /* border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.005); */
    padding: 0;
}

.o-portfolio__item + .o-portfolio__item {
    margin-top: var(--fs-l-s);
}

.o-portfolio__poster {
    display: block;
    width: 100%;
    height: 220px;
    margin: 16px auto 16px;
    border-radius: 16px;
}

.o-portfolio--logo-case {
    display: block;
    width: 110px;
    height: auto;
    margin-bottom: 16px;
}

.o-portfolio--title {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 400;
}

.o-portfolio--link {
    transition: background-color 280ms ease-in-out, color 280ms ease-in-out;
    display: inline-block;
    width: 120px;
    margin-bottom: 24px;
    padding: 16px 24px;
    border-radius: 50px;
    font-size: 16px;
    text-decoration: none;
    color: var(--c-text-color);
    border: 1px solid var(--c-text-color);
    text-align: center;
}

.o-portfolio--link:hover{
    background-color: var(--c-text-color);
    color: var(--c-nuclear-color);
}

.o-portfolio--code {
    background-image: url("../../images/portfolio/gf-portfolio-cc.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--wetaca {
    background-image: url("../../images/portfolio/gf-portfolio.wetaca.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--boton {
    background-image: url("../../images/portfolio/gf-portfolio-boton.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}


.o-portfolio--pc {
    background-image: url("../../images/portfolio/gf-portfolio-PC.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--trive {
    background-image: url("../../images/portfolio/gf-portfolio-trive.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--syn {
    background-image: url("../../images/portfolio/gf-portfolio-syn.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--glw {
    background-image: url("../../images/portfolio/gf-portfolio-glw.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--class {
    background-image: url("../../images/portfolio/gf-portfolio-class.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio--leemons {
    background-image: url("../../images/portfolio/gf-portfolio-leemons.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.o-portfolio .o-layout {
    margin-top: 0;
    gap: var(--fs-l-s)
}

.o-portfolio--class {
    background-image: url("../../images/portfolio/gf-portfolio-class.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    left: 220px;
}

.o-portfolio--leemons {
    background-image: url("../../images/portfolio/gf-portfolio-leemons.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    right: 220px;
}



@media screen and (min-width: 1020px) {
    .o-portfolio {
        margin: var(--fs-xxl-xl) auto 200px;
        padding: 0;
    }

    .o-portfolio--title{
        font-size: 40px;
    }

    .o-portfolio__list {
        margin-top: var(--fs-xl-xl);
    }

    .o-portfolio__item {
        margin: 0 auto;
        padding: var(--fs-l);
        border-radius: 32px;        
    }

    .o-portfolio--logo-case {
        width: 140px;
    }

    .o-portfolio__item + .o-portfolio__item {
        margin-top: var(--fs-l-l);
    }

    .o-portfolio__poster {
        margin: 0;
        width: 100%;
        height: 316px;
        background-color: #fff;
    }
}
