.o-splash {
    animation-name: FadeIn;
	animation-duration: 1400ms;
	animation-iteration-count: once;
	animation-timing-function: linear;
    position: relative;
    font-size: var(--fs-s-m);
}

.o-splash__sub-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex: row;
    margin-top: 16px;
    padding-top: 12px;
    border-top: 1px solid var(--c-text-color);
    align-items: center;
}

.o-splash__sub-header--cell {
    flex: 1;
}

.o-splash__sub-header--cell:last-child {
    text-align: right;
    display: none;
}

.o-splash--image {
    display: block;
    width: 100%;
    height: auto;
    margin: 16px 0;
}


@media screen and (min-width: 1020px) {
    .o-splash {
        font-size: var(--fs-m-s);
    }

    .o-splash__sub-header {
        margin-top: 32px;
        padding-top: 16px;
    }

    .o-splash__sub-header--cell:last-child {
        display: block;
    }
}