.o-splash {
    animation-name: FadeIn;
	animation-duration: 1400ms;
	animation-iteration-count: once;
	animation-timing-function: linear;
    position: relative;
    font-size: var(--fs-s-m);
    margin-top: 88px;
}

.o-splash__sub-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-top: 12px;
    align-items: start;
}

.o-splash__sub-header--cell {
    flex: 1;
}

.o-splash__sub-header--cell-double {
    flex: 2.5;
    margin-top: 32px;
}

.o-splash__poster {
    margin-top: var(--fs-xl-l);
    display: flex;
    flex-direction: row;
    gap: var(--fs-m-l);
}

.o-splash--image {
    display: block;
    flex: 1;
    width: 50%;
    height: auto;
    margin-top: -180px;
}

.o-splash--case {
    display: none;
}

.o-portfolio__item + .o-portfolio__item {
    margin-top: var(--fs-l-s);
}


.o-splash--line {
    display: none;
}

.o-splash--line path{
    stroke: lime;
}

@media screen and (min-width: 1020px) {
    .o-splash {
        margin-top: 0;
        padding-top: var(--fs-xxl-xl);
        font-size: var(--fs-m-s);
    }

    .o-splash--image {
        margin-top: 0;
    }

    .o-splash__sub-header {
        flex-direction: row;
        margin: var(--fs-xl-s) 0;
        padding-top: 16px;
    }

    .o-splash--line {
        display: block;
        position: absolute;
        right: -320px;
        transform: rotate(61deg) scale(1, 1);
        bottom: -220px;
        height: 28px;
    }

    .o-splash--case {
        display: block;
        flex: 1;
        width: 50%;
        height: 899px;
        background-color: var(--c-pearl);
        border-radius: 32px;
    }


    .o-splash__sub-header--cell-double {
        margin-top: 0;
    }
}